body {
    
    background-image: url("../images/concrete_seamless.png")
}
header {
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    height: 100px;
}
.name {
    margin-left: 200px;
    font-size: 20px;
    background-color: #4aaaa5; 
    text-align: center;
    padding: 0px 30px 0px 30px;
    float: left;
    color: white;
}
.entire-content-area {
    margin-left: 200px;
}
.main-content-area {
    width: 650px;
    background-color: white; 
    display: inline-block;
    margin-bottom: 50px;
}

h2 {
    color: #4aaaa5;
}
#profile-pic {
    width: 240px;
    height: 320px;
    float: left;
    clear: left;
    padding-right: 20px;
    padding-bottom: 8px;
    
}
li {
    /* navigation bar */
    width: 60px;
    list-style-type: none;
    padding: 0px 40px 0px 40px;
    float: right;
    margin-top: 40px;
    margin-bottom: 40px;
}
.border-right {
    border-right: 1px solid #666666; 
}

.bio {
    padding: 30px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    
}
.connection {
    float: right;
    width: 270px;
}
.footer-green-bar {
    width: 110%;
    height: 10px;
    background-color: #4aaaa5;
    
}
.footer-copyright-gray-bar {
 padding: 30px;
 background-color: #666666;
 width: 100%;
 margin-bottom: 0%;
 text-align: center;
 color: white;
}
