body {
    background-image: url("../images/concrete_seamless.png")
}
header {
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    height: 100px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}
.name {
    margin-left: 200px;
    font-size: 20px;
    background-color: #4aaaa5; 
    text-align: center;
    padding: 0px 30px 0px 30px;
    float: left;
    color: #ffffff;
}
.entire-content-area {
    margin-left: 200px;
}
.main-content-area {
    width: 650px;
    background-color: #ffffff; 
    display: inline-block;
    margin-bottom: 50px;
}

.about-me {
    color: #4aaaa5;
    margin-left: 29px;
    font-size: 40px;
}
#profile-pic {
    width: 240px;
    height: 320px;
    float: left;
    clear: left;
    padding-right: 20px;
    padding-bottom: 8px;
}
li {
    /* navigation bar */
    width: 60px;
    list-style-type: none;
    padding: 0px 40px 0px 40px;
    float: right;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'sans-serif';
}
.border-right {
    border-right: 2px inset rgb(211, 211, 211); 
}

.bio {
    padding: 30px;
    font-family: 'Arial', 'Helvetica Neue', 'sans-serif';
    word-spacing: 2px;
    color: #777777;
    line-height: 2;
}
.connection {
    float: right;
    width: 270px;
    background-color: #ffffff;
    padding: 20px;
    color: #4aaaa5;
    font-size: 20px;
    text-align: center;
}
.footer-green-bar {
    width: 110%;
    height: 10px;
    background-color: #4aaaa5;
    
}
.footer-copyright-gray-bar {
 padding: 30px;
 background-color: #666666;
 width: 100%;
 margin-bottom: 0%;
 text-align: center;
 color: white;
}
.horizontal-divider-line {
    margin: 0px 29px 0px 29px;
}
