body {
    margin-left: 200px;
    background-image: url("../images/concrete_seamless.png")
}
header {
    background-color: white;
    width: 100%;
    margin-left: 0;
    height: 100px;
}
#name {
    
    background-color: #4aaaa5; 
    text-align: center;
    padding: 10px;
    float: left;
    color: white;
    
    
  
}
.content-area {
    width: 960px;
}
.main-content-area {
    width: 650px;
}
#profile-pic {
    width: 240px;
    height: 320px;
}
li {
    /* navigation bar */
    width: 60px;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    float: right;
}
.border-right {
    border-right: 2px;
    border-color: darkgray;
}
